@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";


// Base
.accent-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: px-to-rem( 40px, 20px );
	background-image: url('../../images/bg-pattern-1.png');
	background-size: cover;
	background-position: center;
	min-height: 100%;
	
	
	h4 + h2 {
		margin-top: 10px;
	}
	
	h2 + p {
		margin-top: 25px;
	}
	* + .link {
		margin-top: 25px;
	}
	
	p {
		line-height: px-to-rem( 28px );
	}
}


// Spacing
* + .accent-box {
	margin-top: px-to-rem( 40px );
}

* + .accent-box-text {
	margin-top: px-to-rem( 28px );
}

* + .accent-box-form {
	margin-top: px-to-rem( 30px );
}

* + .accent-box-btn {
	margin-top: px-to-rem( 40px );
}

.accent-box-text + .accent-box-form,
.accent-box-btn + .accent-box-text {
	margin-top: px-to-rem( 40px );
}

@each $name, $color in $theme-colors {
	.accent-box-#{$name} {
		background-color: $color;
	}
}

@include media-breakpoint-up( md ) {
	.accent-box {
		padding: px-to-rem( 50px, 20px );
	}
}

@include media-breakpoint-up( lg ) {
	.accent-box {
		padding: px-to-rem( 60px, 30px );

		h2 + p, * + .link {
			margin-top: 40px;
		}
	}
}
