include _navigation

mixin rd-navbar
	//RD Navbar
	header.section.rd-navbar-wrap( data-preset!={ title:'Navbar Default', category:'header', reload:true, id:'navbar-default' } )
		nav.rd-navbar&attributes( attributes )
			.navbar-container
				.navbar-cell
					.navbar-panel
						button.navbar-switch.fa-bars.novi-icon( data-multi-switch!= {
							targets: '.rd-navbar',
							scope:   '.rd-navbar',
							isolate: '[data-multi-switch]'
						})

						.navbar-logo
							a.navbar-logo-link( href= homePage.link )
								+img( logo.default ).navbar-logo-default( alt= logo.name )
								+img( logo.inverse ).navbar-logo-inverse( alt= logo.name )

				.navbar-cell.navbar-spacer

				.navbar-cell.navbar-sidebar
					+navigation( menu )

				.navbar-cell 
					.navbar-subpanel
						.navbar-subpanel-item
							button.navbar-button.navbar-info-button.mdi-dots-vertical.novi-icon( data-multi-switch!= {
								targets: '.rd-navbar',
								scope: '.rd-navbar',
								class: 'navbar-info-active',
								isolate: '[data-multi-switch]'
							})
							
							.navbar-info
								.navbar-cell
									a.btn.btn-primary( href='#modal' data-toggle='modal' ) Subscribe

								.navbar-cell
									.icon-social-list.group-10.d-flex
										a.icon.icon-circle.icon-secondary.fa-facebook.novi-icon( href='#' )
										a.icon.icon-circle.icon-secondary.fa-twitter.novi-icon( href='#' )
										a.icon.icon-circle.icon-secondary.fa-instagram.novi-icon( href='#' )
