@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../base/mixins";
@import "../bootstrap/scss/mixins";

//base


// thumbnail video
.thumbnail-video {
	position: relative;
}

.thumbnail-video-btn {
	position: absolute;
	display: inline-block;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
	width: px-to-rem( 140px );
	height: px-to-rem( 140px );
	border-radius: 50%;
	font-size: px-to-rem( 42px );
	line-height: px-to-rem( 140px );
	background: $primary;
	color: $white;
	
	&:hover {
		background: $secondary;
		color: $dark;
	} 
}
