@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../base/mixins";
@import "../bootstrap/scss/mixins";


// Base
.footer {
	
}

// footer default
.footer-default {
	padding-top: px-to-rem( 70px );
	
	.list-footer {
		font-size: px-to-rem( 14px );
		line-height: px-to-rem( 25px );
		text-transform: uppercase;
		font-weight: 500;
		font-family: $font-family-sec;
		color: $gray-900;
		
		li + li {
			margin-top: 0;
		}
		
		a {
			color: inherit;
			&:hover {
				color: $primary;
			}
		}
	}
	
	@include media-breakpoint-up( lg ) {
		padding-top: px-to-rem( 100px );
	}

}
.footer-default-top {
	padding: px-to-rem( 0 , 0, 60px );
}
.footer-default-bottom {
	padding: px-to-rem( 30px, 0, 50px );
}

* + .icon-social-list {
	margin-top: 20px;
}
