// 404 section
section.section.text-center.novi-background( data-preset!={ title:'404', category:'service', reload:false, id:'404' } )
	.container.bg-image.context-dark( style='background-image: url("images/img-404.jpg");' )
		.section-lg
			.row.novi-disabled
				.col-md-8.col-lg-6
					h1.h1-large  404
					h2.h2-small.mt-0
						span.text-secondary Oops!
						=' '
						| Page not found
					a.btn.btn-lg.btn-primary( href='index.html' ) Back to homepage
