// home about 2
section.section-md.bg-transparent
	.container
		.row.row-30
			.col-md-6 
				+img( 'home-4-570x634' )
			.col-md-6
				.accent-box.accent-box-primary.context-dark( style='background-image: url("images/accent-box-bg-2.png");' )
					h4.text-warning.text-capitalize.font-weight-normal.font-cursive ¿Por qué elegirnos?
					h2.h2-small #1 Location for 
						br 
						| first-class BBQ
					p Si buscas probar el sabor de la auténtica comida ecuatoriana combinado con el sabor nuestra parilla, en Al Carbón tienes todo lo que necesitas. Menú diario, Desayunos, Comidas, Cenas y si necesitas algo más, solo tienes que consultarnos y haremos todo lo que este a nuestro alcance.
					a.link( href='about-us.html' ) Read More
