// Intro
section.section.section-lg.bg-image.text-center.d-flex.align-items-center.min-vh-100.novi-background.context-dark.overlay-dark-04( data-preset!={ title:'Intro', category:'intro', reload:false, id:'intro-10' }, style='background-image: url( "images/home-1-1920x763.jpg" )' )
	.container
		.row.justify-content-center.novi-disabled
			.col-md-10.col-lg-8( data-animate!={ class: 'fadeInUp' } )
				h3.text-secondary Welcome to the #1 Grill Restaurant
				h1.mt-0 Traditional cooking with a modern twist
				.offset-md
					a.btn.btn-lg.btn-secondary( href='about-us.html' ) Nuestra carta
