// Join us
section.section.section-md.bg-transparent
	.container
		.row.row-50.align-items-center
			.col-lg-6.text-center
				+img( 'team-2-570x424' )
			.col-lg-6.text-center
				h4.font-cursive.text-warning.text-capitalize.font-weight-normal Join GrillParty
				h2.h2-small.mt-1 Become a part of our friendly team
				p.mt-3 We are always looking for talented people.
				a.link.mt-5( href='#' ) join us!
