// menu 1
section.section-md.bg-transparent
	.container
		.text-center
			h3.text-warning Delicious Dishes
			h2.mt-2 Check Out Our Menu
		.row.row-30
			.col-md-6
				.menu-list.pr-3
					h4.menu-list-title Starters
					.menu-list-item
						.d-flex.align-items-center
							h5.menu-list-item-title Desayunos típicos de Ecuador
							h4.menu-price $16
						p.small.mt-0 Gran variedad en desayunos al estilo ecuatoriano. Bolones de verde, Humitas, Empanadas, Bollos de pescado y mucho más... 
					.menu-list-item
						.d-flex.align-items-center
							h5.menu-list-item-title Mille-feuille of wild mushrooms
							h4.menu-price $28
						p.small.mt-0 With truffles & hollandaise
					.menu-list-item
						.d-flex.align-items-center
							h5.menu-list-item-title BEEF TARTARE
							h4.menu-price $12
						p.small.mt-0 Tarragon mayonnaise, marinated shimeji mushrooms, black toast, herbs
			.col-md-6
				.menu-list.pr-3
					h4.menu-list-title Mains
					.menu-list-item
						.d-flex.align-items-center
							h5.menu-list-item-title Corn Nuggets
							h4.menu-price $24
						p.small.mt-0 Lightly fried, sweet creamed corn clusters topped with powdered sugar.
					.menu-list-item
						.d-flex.align-items-center
							h5.menu-list-item-title BEETROOT CARPACCIO
							h4.menu-price $19
						p.small.mt-0 Cranberry jelly, pumpkin purée and sponge, pickled mushrooms, figs
					.menu-list-item
						.d-flex.align-items-center
							h5.menu-list-item-title Redneck Egg Rolls
							h4.menu-price $10
						p.small.mt-0 Loaded with Pulled Pork, homemade coleslaw and Pepper Jack cheese with a side of smokey Ranch dip.
