// menu 2
section.section.section-md.bg-transparent
	.container
		.row.row-30
			.col-lg-6.text-center
				+img( 'menu-1-570x404' )
			.col-lg-6
				.menu-list.pr-3
					h4.menu-list-title Specials
					.menu-list-item
						.d-flex.align-items-center
							h5.menu-list-item-title Beef Brisket
							h4.menu-price $22
						p.small.mt-0 Garlic and onion powders, paprika, salt
					.menu-list-item
						.d-flex.align-items-center
							h5.menu-list-item-title Ribs & Smoked Wings
							h4.menu-price $16
						p.small.mt-0 Fresh-from-the-smoker wings pair perfectly
					.menu-list-item
						.d-flex.align-items-center
							h5.menu-list-item-title Pork 3 Ways
							h4.menu-price $17
						p.small.mt-0 A tasty trifecta of the meat that made us famous
					.menu-list-item
						.d-flex.align-items-center
							h5.menu-list-item-title Ribs & Chicken
							h4.menu-price $21
						p.small.mt-0 1/4 BBQ Chicken and Sweet & Smokey Ribs
