// services 2
section.section-md.bg-transparent
	.container
		h2.text-center Private Dining,
			br
			| Catering & More…
		.row.row-30
			.col-md-6
				.accent-box.bg-100.text-left.align-items-start( style='background-image: url("images/service-bg-1-570x319.jpg")' ) 
					h4 Personal Events Catering
					p.mt-4 If you're looking for a balanced, well selected menu, our tailored personal catering service will deliver it to you in no time! All of our menu items can be delivered that way!
					a.link.mt-3( href='single-service.html' ) Book online
			.col-md-6
				.bg-image( style='background-image: url("images/service-2-570x319.jpg"); min-height: 319px; height: 100%;' )
				
			.col-md-6
				.bg-image( style='background-image: url("images/service-3-570x319.jpg"); min-height: 319px; height: 100%;' )
			.col-md-6
				.accent-box.bg-100.text-left.align-items-start( style='background-image: url("images/service-bg-2-570x319.jpg")' )
					h4 Business Catering
					p.mt-4 Our restaurant offers a business catering service that will ensure that a business meeting of any level will get both the perfect dishes and service!
					a.link.mt-3( href='single-service.html' ) Book online
			.col-md-6
				.accent-box.bg-100.text-left.align-items-start( style='background-image: url("images/service-bg-3-570x319.jpg")' )
					h4 Personal Menu Delivery
					p.mt-4 If you're looking for a balanced, well selected menu, our tailored personal catering service will deliver it to you in no time! All of our menu items can be delivered that way!
					a.link.mt-3( href='single-service.html' ) Book online
			.col-md-6
				.bg-image( style='background-image: url("images/service-4-570x319.jpg"); min-height: 319px; height: 100%;' )
				
