
// Services
section.section.section-md.bg-transparent.novi-background( data-preset!={ title:'Services', category:'blurb', reload:false, id:'services-2' } )
	.container
		.row.row-50
			.col-lg-6
				+img( 'service-1-570x633' )
			.col-lg-6
				h3.text-warning Our Services
				h2.mt-1 What We Offer
				.row.row-30.align-items-end
					.col-6
						+img( 'service-icon-1-97x98.png' )
						h5.mt-3 Birthday Parties
						p.small.mt-2 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
					.col-6
						+img( 'service-icon-2-83x87.png' )
						h5.mt-3 Event Catering
						p.small.mt-2 Nec feugiat in fermentum posuere urna nec tincidunt praesent. Velit egestas dui
					.col-6
						+img( 'service-icon-3-66x96.png' )
						h5.mt-3 Diet Menu
						p.small.mt-2 In nisl nisi scelerisque eu. Tincidunt augue interdum velit euismod. Nulla 
					.col-6
						+img( 'service-icon-4-87x90.png' )
						h5.mt-3 Online Ordering
						p.small.mt-2 Adipiscing tristique risus nec feugiat in fermentum. Purus sit amet volutpat 
