// single service 1
section.section-md.bg-transparent
	.container
		.row.row-30
			.col-md-6.col-lg-4
				.section-sm-2.bg-primary.context-dark.text-center.px-3
					h5 Pickup
					p.small.mt-3 We’ll have your order ready and
						br
						| waiting for you.
			.col-md-6.col-lg-4
				.section-sm-2.bg-secondary.context-dark.text-center.px-3
					h5 Delivery
					p.small.mt-3 We’ll bring your order to you—just tell 
						br
						| us when and where.
			.col-md-6.col-lg-4
				.section-sm-2.bg-100.text-center.px-3
					h5 Set-up & Serve
					p.small.mt-3 We’ll bring your order, set it up and 
						br
						| serve it to your guests.
