// single service 1
section.section-md.bg-transparent
	.container
		.row.row-50.justify-content-center.text-center
			.col-md-10.col-lg-9.col-xl-8
				h3.text-warning Service Overview
				h2.mt-1 Event Catering
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
			.col-12
				// Owl Carousel
				.owl-carousel(data-owl={ nav: true })
					+img( 'single-service-1-1170x536' )
					+img( 'about-1-1170x537' )
			.col-md-10.col-lg-9.col-xl-8
				p Neque vitae tempus quam pellentesque nec nam. At elementum eu facilisis sed odio morbi quis. Nulla aliquet porttitor lacus luctus accumsan tortor posuere ac ut. Donec ultrices tincidunt arcu non sodales. Sollicitudin nibh sit amet commodo nulla. Pharetra diam sit amet nisl. Malesuada fames ac turpis egestas. Sed augue lacus 
				a.btn.btn-primary.btn-lg( href='#' ) download pdf menu
