// team about
section.section.section-md
	.container
		.row.row-50.justify-content-between
			.col-lg-6.col-xl-5
				h3.text-warning About Chef
				h2.mt-0 John Stroller
				p John was born on February 21, 1947 in Pula, Istria, in present-day Croatia, a region in that was once part of Italy. He immigrated to the U.S. when he was 12 and eventually married, opening up a series of restaurants with husband Felice. Bastianich has gone on to be an acclaimed chef and restaurateur, winning awards as well as…
				dl.list.list-info
					dt.list-info-title email:
					dd: a( href='mailto:#' ) info@demolink.org
					dt.list-info-title phone:
					dd: a( href='tel:#' ) (555)123-4567
					dt.list-info-title Opening hours:
					dd: p Mo-Fr 11:00 - 00:00
						br
						| Sa-Su 15:00 - 00:00
			.col-lg-6
				+img( 'team-1-570x633' )
