extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/quote/_quote

block variables
	- pageName = 'About Us'; 

block page
	+rd-navbar
	
	include ../components/section/_section-breadcrumbs
	section.section.section-md.bg-transparent
		.container
			.row.justify-content-center
				.col-lg-10
					.text-center
						+img( 'icon-7-53x56.png' )
						h4.text-warning.font-cursive.font-weight-normal.text-capitalize Our Story
						h4 We’re committed to bringing our customers healthy, delicious, and innovative food
					.row.row-30
						.col-md-6
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
						.col-md-6
							p ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
	section.section.section-md.bg-transparent
		.container
			+img( 'about-1-1170x537' )
	section.section.section-md.bg-transparent
		.container
			.row.justify-content-center
				.col-lg-10.col-xl-9.text-center
					h2: +img( 'quote-icon.png' )
					+quote-simple({
						text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.',
						name: 'Peter Richardson',
						authorImg: 'author-name.png'
					}).mt-4
	section.section.section-md.bg-transparent
		.container
			.row.row-30
				.col-md-6
					.row.row-30
						.col-sm-6.col-md-12
							+img( 'about-2-570x428' )
						.col-sm-6.col-md-12
							+img( 'about-3-570x428' )
				.col-md-6
					+img( 'about-4-570x885' )
	section.section.section-md.bg-transparent
		.container
			.row.row-50.justify-content-center
				.col-lg-10.col-xl-9
					.text-center
						h4.text-warning.font-cursive.font-weight-normal.text-capitalize Focus On Quality
						h4 Grillparty is proud to be serving fine European dishes for more than 30 years!
				.col-lg-10
					.row.row-30
						.col-md-6
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
						.col-md-6
							p ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
				.col-12
					.row.row-30.text-center
						.col-sm-6.col-lg-4
							+img( 'about-5-370x428' )
						.col-sm-6.col-lg-4
							+img( 'about-6-370x428' )
						.col-sm-6.col-lg-4
							+img( 'about-7-370x428' )
						.col-12
							a.btn.btn-lg.btn-primary( href='menu.html' ) View MENU
	section.section
		.container
			.section-sm.bg-secondary.text-center
				.container
					.row.row-30.justify-content-center.align-items-center 
						.col-auto.col-lg
							+img('partner-1-87x87.png')
						.col-auto.col-lg
							+img('partner-2-122x71.png')
						.col-auto.col-lg
							+img('partner-3-99x88.png')
						.col-auto.col-lg
							+img('partner-4-130x69.png')
						.col-auto.col-lg
							+img('partner-5-73x82.png') 
	include ../components/footer/_footer-default
