extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	- pageName = 'Contacts';

block page
	+rd-navbar

	include ../components/section/_section-breadcrumbs
	include ../components/section/_contact-us-3
	include ../components/section/_section-map
	include ../components/section/_service-contact-us
	include ../components/footer/_footer-default
