extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	- pageName = 'Testimonials';

block page
	+rd-navbar

	include ../components/section/_section-breadcrumbs 
	include ../components/section/_testimonials-1
	include ../components/section/_home-testimonials
	.section-sm
	include ../components/section/_service-contact-us
	include ../components/footer/_footer-default
