//- Progress Bar linear
	@param {object} data - object data
	@param {string} data.title - progress title
	@param {number} data.value - progress value
mixin progress-linear( data )
	// Linear progress bar
	.progress-linear&attributes( attributes )
		.progress-linear-inner
			.progress-linear-title
				= data.title
				span.progress-linear-counter-wrap
					span.progress-linear-counter= data.value
					| %
			.progress-linear-body
				.progress-linear-bar

